.center{ text-align: center; }

.dash { 
    height: 1px; 
    width: 110px; 
    background: #333; 
    margin: 20px auto; 
}


html, body{
    height: 100%;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.intro{
    background: url(../assets/purdue2.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    padding-right: 0px;
    padding-top: 0px;
}

.intro-text{
    position: relative; 
    top: 30%;
}

.name{
    font-size: 6.5em; 
    font-weight:600;
}

.tagline{
    font-size: 1.8em;
}

.background-pic{
    background: rgba(0,0,0,.7); 
    height: 100%; 
    color: white;
}

.heading{
    font-size: 40px;
}

.about{
    background: #eee;
    font-size: 1.4em;
    line-height: 1.6em;
    color: #666;
}

.about-text{
    height: 100%; 
    text-align: center;
    margin-top: 3.5rem;
}

.work{
    width: 100%;
    background: #eee;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.2em;
    line-height: 1.6em;
}

.project{
    text-align: left;
    padding-right: 3%;
    padding-left: 3%;
}

.project a{
    text-decoration: none;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}